/*--------------------------------------------------*
*---------------------------------------------------*
*------------------CSS design Shadow----------------*
*--Untitled. All rights reserved. Design by Orbite--*
*---------------------------------------------------*

/*------------------------*
*--Default Element Style--*
*------------------------*/
*{transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;font-weight: normal;margin: 0;padding: 0;}
body,html{height: 100%;width: 100%;}
.row{width: 100%;}
.clearfix:after{clear: both;}
.navbar{margin-bottom: 0px}
ul{margin:0;padding:0;}
#wrapper{max-width: 100%;height:100%;position:relative;margin: auto;min-height: 100%}

header{width: 100%;height: auto}
main{width: 100%;height: auto}
footer{width: 100%;height: auto;min-height: 30%}

/*------------------------*
*--------Components-------*
*------------------------*/

/*Button*/
.btn-link{border: 2px solid #00000000;color : inherit;padding: 5px 0px;margin: 15px 1.5%;display : inline-block;}
.btn-link>*{padding: 15px 40px;text-decoration: none;border: 1px solid;}
.btn-link>*:hover{color: inherit;}.btn-link>*:focus{color: inherit;}

.btn-link-primary{border: 2px solid #337AB7;margin: 20px 1.5%;display : inline-block;}
.btn-link-primary:hover{border-color: #2474b8;padding: 5px 0px;margin: 15px 1.5%;}
.btn-link-primary>*{background: #337AB7;padding: 15px 40px;text-decoration: none;border: 1px solid;color: white;display: inline;}
.btn-link-primary>*:hover{background: #2474b8;color: white;text-decoration: none;}.btn-link-primary>*:focus{background: #337AB7;color: white;}

.btn-link-success{border: 2px solid  #5CB85C;margin: 20px 1.5%;display : inline-block;}
.btn-link-success:hover{border-color: #3eb63e;padding: 5px 0px;margin: 15px 1.5%;}
.btn-link-success>*{background: #5CB85C;padding: 15px 40px;text-decoration: none;border: 1px solid;color: white;display: inline;}
.btn-link-success>*:hover{background: #3eb63e; color: white;text-decoration: none;}.btn-link-success>*:focus{background: #5CB85C;color: white;}

.btn-link-info{border: 2px solid  #5BC0DE;margin: 20px 1.5%;display : inline-block;}
.btn-link-info:hover{border-color: #33b7de;padding: 5px 0px;margin: 15px 1.5%;}
.btn-link-info>*{background: #5BC0DE;padding: 15px 40px;text-decoration: none;border: 1px solid;color: white;display: inline;}
.btn-link-info>*:hover{background: #33b7de; color: white;text-decoration: none;}.btn-link-info>*:focus{background: #5BC0DE;color: white;}

.btn-link-warning{border: 2px solid  #F0AD4E;margin: 20px 1.5%;display : inline-block;}
.btn-link-warning:hover{border-color: #eea234;padding: 5px 0px;margin: 15px 1.5%;}
.btn-link-warning>*{background: #F0AD4E;padding: 15px 40px;text-decoration: none;border: 1px solid;color: white;display: inline;}
.btn-link-warning>*:hover{background: #eea234; color: white;text-decoration: none;}.btn-link-warning>*:focus{background: #F0AD4E;color: white;}

.btn-link-danger{border: 2px solid  #D9534F;margin: 20px 1.5%;display : inline-block;}
.btn-link-danger:hover{border-color: #db413c;padding: 5px 0px;margin: 15px 1.5%;}
.btn-link-danger>*{background: #D9534F;padding: 15px 40px;text-decoration: none;border: 1px solid;color: white;display: inline;}
.btn-link-danger>*:hover{background: #db413c; color: white;text-decoration: none;}.btn-link-danger>*:focus{background: #D9534F;color: white;}

.btn-link-dark{border: 2px solid #555;color: #555; margin: 20px 1.5%;display : inline-block;}
.btn-link-dark:hover{border-color: #444;padding: 5px 0px;margin: 15px 1.5%;}
.btn-link-dark>*{background: #555;padding: 15px 40px;text-decoration: none;border: 1px solid;color: white;display: inline;}
.btn-link-dark>*:hover{background: #444; color: white;text-decoration: none;}.btn-link-dark>*:focus{background: #444;color: white;}

/*Liste*/
.list-type-none{list-style-type: none}
.list-type-decimal{list-style-type:decimal}
.list-type-disc{list-style-type:disc}
.list-type-decimal-leading-zero{list-style-type:decimal-leading-zero}

.list-inline{display: table;width: 100%}
.list-inline > li{float: left;margin: 1%}

.list-inline-block{margin: 0; padding: 0}
.list-inline-block> li{display: inline-block;margin-left: 2%;}

/*--------Banner---------*/
.wrapper{position : relative;overflow : hidden;background-position: center;background-repeat: no-repeat;background-size: cover;}

.img-wrapper{position : absolute;height: 100%;width: 100%;z-index: 1;}
.img-wrapper>img{height: 270%;margin-top: -550px;}

.adapt-img-wrapper{position: absolute;height: 100%;width: 100%;z-index: 1;}
.adapt-img-wrapper>img{height: 195%;margin-top: -250px; margin-left: -25%}

.wrapper-content-overlay{position: absolute;height : 100%;width: 100%;z-index: 2;background-color:rgba(0,0,0,0.7);color : white;}
.wrapper-annonce-overlay{position: absolute;height : 100%;width: 100%;z-index: 2;background-color:rgba(0,0,0,0.7);color : white;padding : 50px 0 0 10%;}

.wrapper-content-overlay a{border-color:rgba(0,0,0,0.7);}
.wrapper-annonce-overlay a{border-color:rgba(0,0,0,0.7);}
.wrapper-content-overlay .btn-link a{border-color: initial}
.wrapper-annonce-overlay .btn-link a{border-color: initial}

.wrapper .btn-link a{color: inherit;}
.wrapper a:hover{color : white;}

/*--------Options--------*/
.container-option>.bt-sort-up{background : right url(../../images/thumb/SortUp.png) no-repeat;}
.container-option>.bt-sort-up:hover{background : right url(../../images/thumb/SortUp1.png) no-repeat;cursor : pointer;}

.container-option>.bt-sort-down{background : right url(../../images/thumb/SortDown.png) no-repeat;}
.container-option>.bt-sort-down:hover{background : right url(../../images/thumb/SortDown1.png) no-repeat;cursor : pointer;}

.container-option{height : auto;overflow : hidden;}
.container-option>.slide-option{height: 29px; margin-bottom: 10px;}
.container-option>.slide-option>.title-option{margin : 0;padding : 0;display : inline-block;width: 100%;border-bottom : 1px solid;font-size : 1.8em;}


/*------------------------*
*---Element-disposition---*
*------------------------*/
.fixed{position: fixed;}
.absolute{position: absolute;}
.relative{position: relative;}
.inline-block{display: inline-block;}
.block{display: block;}
.table{display: table}

/*Flaot*/
.float-left{float: left}
.float-right{float: right}

/*Text alignement*/
.text-center{text-align: center}
.text-left{text-align: left}
.text-right{text-align: right}
.text-justify{text-align: justify}

/*Alignement*/
.align-top{vertical-align: top;}.align-bottom{vertical-align: bottom;}.align-left{text-align: left;}
.align-center{text-align: center;}.align-right{text-align: right;}

/*Location*/
.topLeft{top: 0;left: 0;}
.bottomLeft{bottom: 0;left: 0;}
.topRight{top: 0;right: 0;}
.bottomRight{bottom: 0;right: 0}

/*top*/
.top{top: 0;}
.top-l1-pr{top: 10%;}.top-l2-pr{top: 20%;}.top-l3-pr{top: 30%;}.top-l4-pr{top: 40%;}.top-l5-pr{top: 50%;}
.top-l6-pr{top: 60%;}.top-l7-pr{top: 70%;}.top-l8-pr{top: 80%;}.top-l9-pr{top: 90%;}.top-l10-pr{top: 100%;}

.top-l1-px{top: 50px;}.top-l2-px{top: 100px;}.top-l3-px{top: 150px;}.top-l4-px{top: 200px;}.top-l5-px{top: 250px;}
.top-l6-px{top: 300px;}.top-l7-px{top: 350px;}.top-l8-px{top: 400px;}.top-l9-px{top: 450px;}.top-l10-px{top: 500px;}

/*bottom*/
.bottom{bottom: 0;}
.bottom-l1-pr{bottom: 10%;}.bottom-l2-pr{bottom: 20%;}.bottom-l3-pr{bottom: 30%;}.bottom-l4-pr{bottom: 40%;}
.bottom-l5-pr{bottom: 50%;}.bottom-l6-pr{bottom: 60%;}.bottom-l7-pr{bottom: 70%;}.bottom-l8-pr{bottom: 80%;}
.bottom-l9-pr{bottom: 90%;}.bottom-l10-pr{bottom: 100%;}

.bottom-l1-px{bottom: 50px;}.bottom-l2-px{bottom: 100px;}.bottom-l3-px{bottom: 150px;}.bottom-l4-px{bottom: 200px;}
.bottom-l5-px{bottom: 250px;}.bottom-l6-px{bottom: 300px;}.bottom-l7-px{bottom: 350px;}.bottom-l8-px{bottom: 400px;}
.bottom-l9-px{bottom: 450px;}.bottom-l10-px{bottom: 500px;}

/*left*/
.left{left: 0;}
.left-l1-pr{left: 10%;}.left-l2-pr{left: 20%;}.left-l3-pr{left: 30%;}.left-l4-pr{left: 40%;}.left-l5-pr{left: 50%;}
.left-l6-pr{left: 60%;}.left-l7-pr{left: 70%;}.left-l8-pr{left: 80%;}.left-l9-pr{left: 90%;}.left-l10-pr{left: 100%;}

.left-l1-px{left: 50px;}.left-l2-px{left: 100px;}.left-l3-px{left: 150px;}.left-l4-px{left: 200px;}.left-l5-px{left: 250px;}
.left-l6-px{left: 300px;}.left-l7-px{left: 350px;}.left-l8-px{left: 400px;}.left-l9-px{left: 450px;}.left-l10-px{left: 500px;}

/*right*/
.right{right: 0;}
.right-l1-pr{right: 10%;}.right-l2-pr{right: 20%;}.right-l3-pr{right: 30%;}.right-l4-pr{right: 40%;}.right-l5-pr{right: 50%;}
.right-l6-pr{right: 60%;}.right-l7-pr{right: 70%;}.right-l8-pr{right: 80%;}.right-l9-pr{right: 90%;}.right-l10-pr{right: 100%;}

.right-l1-px{right: 50px;}.right-l2-px{right: 100px;}.right-l3-px{right: 150px;}.right-l4-px{right: 200px;}.right-l5-px{right: 250px;}
.right-l6-px{right: 300px;}.right-l7-px{right: 350px;}.right-l8-px{right: 400px;}.right-l9-px{right: 450px;}.right-l10-px{right: 500px;}

/*------------------------*
*-----Elements-Sizing-----*
*------------------------*/
/*Height*/
.height-l1-pr{height: 5%}.height-l2-pr{height: 10%}.height-l3-pr{height: 20%}.height-l4-pr{height: 30%}
.height-l5-pr{height: 40%}.height-l6-pr{height: 50%}.height-l7-pr{height: 60%}.height-l8-pr{height: 70%}
.height-l9-pr{height: 80%}.height-l10-pr{height: 90%}.height-max-pr{height: 100%}

.height-l1-px{height: 50px}.height-l2-px{height: 100px}.height-l3-px{height: 150px}.height-l4-px{height: 200px}.height-l5-px{height: 250px}
.height-l6-px{height: 300px}.height-l7-px{height: 350px}.height-l8-px{height: 400px}.height-l9-px{height: 450px}.height-l10-px{height: 500px}

/*Width*/
.width-l1-pr{width: 5%}.width-l2-pr{width: 10%}.width-l3-pr{width: 20%}.width-l4-pr{width: 30%}.width-l5-pr{width: 40%}.width-l6-pr{width: 50%}
.width-l7-pr{width: 60%}.width-l8-pr{width: 70%}.width-l9-pr{width: 80%}.width-l10-pr{width: 90%}.width-max-pr{width: 100%}

.width-l1-px{width: 50px}.width-l2-px{width: 100px}.width-l3-px{width: 150px}.width-l4-px{width: 200px}.width-l5-px{width: 250px}
.width-l6-px{width: 300px}.width-l7-px{width: 350px}.width-l8-px{width: 400px}.width-l9-px{width: 450px}.width-l10-px{width: 500px}

/*------------------------*
*---------Spacing---------*
*------------------------*/

/*Vertical Spacing*/
.vertical-space{margin-top: 2%;margin-bottom: 2%;}
.vertical-auto-space{margin-top: auto;margin-bottom: auto;}
.no-vertical-space{margin-top: 0;margin-bottom: 0;}
.vertical-space-l1-pr{margin-top: 5%;margin-bottom: 5%;}.vertical-space-l2-pr{margin-top: 10%;margin-bottom: 10%;}
.vertical-space-l3-pr{margin-top: 15%;margin-bottom: 15%;}.vertical-space-l4-pr{margin-top: 20%;margin-bottom: 20%;}
.vertical-space-l5-pr{margin-top: 25%;margin-bottom: 25%;}.vertical-space-l6-pr{margin-top: 30%;margin-bottom: 30%;}
.vertical-space-l7-pr{margin-top: 35%;margin-bottom: 35%;}.vertical-space-l8-pr{margin-top: 40%;margin-bottom: 40%;}
.vertical-space-l9-pr{margin-top: 45%;margin-bottom: 45%;}.vertical-space-l10-pr{margin-top: 50%;margin-bottom: 50%;}

.vertical-space-l1-px{margin-top: 10px;margin-bottom: 10px;}.vertical-space-l2-px{margin-top: 20px;margin-bottom: 20px;}
.vertical-space-l3-px{margin-top: 30px;margin-bottom: 30px;}.vertical-space-l4-px{margin-top: 40px;margin-bottom: 40px;}
.vertical-space-l5-px{margin-top: 50px;margin-bottom: 50px;}.vertical-space-l6-px{margin-top: 60px;margin-bottom: 60px;}
.vertical-space-l7-px{margin-top: 70px;margin-bottom: 70px;}.vertical-space-l8-px{margin-top: 80px;margin-bottom: 80px;}
.vertical-space-l9-px{margin-top: 90px;margin-bottom: 90px;}.vertical-space-l10-px{margin-top: 100px;margin-bottom: 100px;}

/*Top Spacing*/
.space-top{margin-top: 2%;}
.no-space-top{margin-top: 0;}
.space-top-l1-pr{margin-top: 5%;}.space-top-l2-pr{margin-top: 10%;}.space-top-l3-pr{margin-top: 15%;}
.space-top-l4-pr{margin-top: 20%;}.space-top-l5-pr{margin-top: 25%;}.space-top-l6-pr{margin-top: 30%;}
.space-top-l7-pr{margin-top: 35%;}.space-top-l8-pr{margin-top: 40%;}.space-top-l9-pr{margin-top: 45%;}
.space-top-l10-pr{margin-top: 50%;}

.space-top-l1-px{margin-top: 10px;}.space-top-l2-px{margin-top: 20px;}.space-top-l3-px{margin-top: 30px;}
.space-top-l4-px{margin-top: 40px;}.space-top-l5-px{margin-top: 50px;}.space-top-l6-px{margin-top: 60px;}
.space-top-l7-px{margin-top: 70px;}.space-top-l8-px{margin-top: 80px;}.space-top-l9-px{margin-top: 90px;}
.space-top-l10-px{margin-top: 100px;}

/*Bottom Spacing*/
.space-bottom{margin-bottom: 2%;}
.no-space-bottom{margin-bottom: 0;}
.space-bottom-l1-pr{margin-bottom: 5%;}.space-bottom-l2-pr{margin-bottom: 10%;}.space-bottom-l3-pr{margin-bottom: 15%;}
.space-bottom-l4-pr{margin-bottom: 20%;}.space-bottom-l5-pr{margin-bottom: 25%;}.space-bottom-l6-pr{margin-bottom: 30%;}
.space-bottom-l7-pr{margin-bottom: 35%;}.space-bottom-l8-pr{margin-bottom: 40%;}.space-bottom-l9-pr{margin-bottom: 45%;}
.space-bottom-l10-pr{margin-bottom: 50%;}

.space-bottom-l1-px{margin-bottom: 10px;}.space-bottom-l2-px{margin-bottom: 20px;}.space-bottom-l3-px{margin-bottom: 30px;}
.space-bottom-l4-px{margin-bottom: 40px;}.space-bottom-l5-px{margin-bottom: 50px;}.space-bottom-l6-px{margin-bottom: 60px;}
.space-bottom-l7-px{margin-bottom: 70px;}.space-bottom-l8-px{margin-bottom: 80px;}.space-bottom-l9-px{margin-bottom: 90px;}
.space-bottom-l10-px{margin-bottom: 100px;}

/*Vertical Spacing In*/
.vertical-space-in{padding-top: 2%;padding-bottom: 2%;}
.no-vertical-space-in{padding-top: 0;padding-bottom: 0;}
.vertical-space-in-l1-pr{padding-top: 5%;padding-bottom: 5%;}.vertical-space-in-l2-pr{padding-top: 10%;padding-bottom: 10%;}
.vertical-space-in-l3-pr{padding-top: 15%;padding-bottom: 15%;}.vertical-space-in-l4-pr{padding-top: 20%;padding-bottom: 20%;}
.vertical-space-in-l5-pr{padding-top: 25%;padding-bottom: 25%;}.vertical-space-in-l6-pr{padding-top: 30%;padding-bottom: 30%;}
.vertical-space-in-l7-pr{padding-top: 35%;padding-bottom: 35%;}.vertical-space-in-l8-pr{padding-top: 40%;padding-bottom: 40%;}
.vertical-space-in-l9-pr{padding-top: 45%;padding-bottom: 45%;}.vertical-space-in-l10-pr{padding-top: 50%;padding-bottom: 50%;}

.vertical-space-in-l1-px{padding-top: 10px;padding-bottom: 10px;}.vertical-space-in-l2-px{padding-top: 20px;padding-bottom: 20px;}
.vertical-space-in-l3-px{padding-top: 30px;padding-bottom: 30px;}.vertical-space-in-l4-px{padding-top: 40px;padding-bottom: 40px;}
.vertical-space-in-l5-px{padding-top: 50px;padding-bottom: 50px;}.vertical-space-in-l6-px{padding-top: 60px;padding-bottom: 60px;}
.vertical-space-in-l7-px{padding-top: 70px;padding-bottom: 70px;}.vertical-space-in-l8-px{padding-top: 80px;padding-bottom: 80px;}
.vertical-space-in-l9-px{padding-top: 90px;padding-bottom: 90px;}.vertical-space-in-l10-px{padding-top: 100px;padding-bottom: 100px;}

/*Top Spacing In*/
.space-top-in{padding-top: 2%;}
.no-space-top-in{padding-top: 0;}
.space-top-in-l1-pr{padding-top: 5%;}.space-top-in-l2-pr{padding-top: 10%;}.space-top-in-l3-pr{padding-top: 15%;}
.space-top-in-l4-pr{padding-top: 20%;}.space-top-in-l5-pr{padding-top: 25%;}.space-top-in-l6-pr{padding-top: 30%;}
.space-top-in-l7-pr{padding-top: 35%;}.space-top-in-l8-pr{padding-top: 40%;}.space-top-in-l9-pr{padding-top: 45%;}
.space-top-in-l10-pr{padding-top: 50%;}

.space-top-in-l1-px{padding-top: 10px;}.space-top-in-l2-px{padding-top: 20px;}.space-top-in-l3-px{padding-top: 30px;}
.space-top-in-l4-px{padding-top: 40px;}.space-top-in-l5-px{padding-top: 50px;}.space-top-in-l6-px{padding-top: 60px;}
.space-top-in-l7-px{padding-top: 70px;}.space-top-in-l8-px{padding-top: 80px;}.space-top-in-l9-px{padding-top: 90px;}
.space-top-in-l10-px{padding-top: 100px;}

/*Bottom Spacing In*/
.space-bottom-in{padding-bottom: 2%;}
.no-space-bottom-in{padding-bottom: 0;}
.space-bottom-in-l1-pr{padding-bottom: 5%;}.space-bottom-in-l2-pr{padding-bottom: 10%;}.space-bottom-in-l3-pr{padding-bottom: 15%;}
.space-bottom-in-l4-pr{padding-bottom: 20%;}.space-bottom-in-l5-pr{padding-bottom: 25%;}.space-bottom-in-l6-pr{padding-bottom: 30%;}
.space-bottom-in-l7-pr{padding-bottom: 35%;}.space-bottom-in-l8-pr{padding-bottom: 40%;}.space-bottom-in-l9-pr{padding-bottom: 45%;}
.space-bottom-in-l10-pr{padding-bottom: 50%;}

.space-bottom-in-l1-px{padding-bottom: 10px;}.space-bottom-in-l2-px{padding-bottom: 20px;}.space-bottom-in-l3-px{padding-bottom: 30px;}
.space-bottom-in-l4-px{padding-bottom: 40px;}.space-bottom-in-l5-px{padding-bottom: 50px;}.space-bottom-in-l6-px{padding-bottom: 60px;}
.space-bottom-in-l7-px{padding-bottom: 70px;}.space-bottom-in-l8-px{padding-bottom: 80px;}.space-bottom-in-l9-px{padding-bottom: 90px;}
.space-bottom-in-l10-px{padding-bottom: 100px;}

/*Horizontal Spacing*/
.horizontal-space{margin-left: 2%;margin-right: 2%;}
.horizontal-auto-space{margin-left: auto;margin-right: auto;}
.no-horizontal-space{margin-left: 0;margin-right: 0;}
.horizontal-space-l1-pr{margin-left: 5%;margin-right: 5%;}.horizontal-space-l2-pr{margin-left: 10%;margin-right: 10%;}
.horizontal-space-l3-pr{margin-left: 15%;margin-right: 15%;}.horizontal-space-l4-pr{margin-left: 20%;margin-right: 20%;}
.horizontal-space-l5-pr{margin-left: 25%;margin-right: 25%;}.horizontal-space-l6-pr{margin-left: 30%;margin-right: 30%;}
.horizontal-space-l7-pr{margin-left: 35%;margin-right: 35%;}.horizontal-space-l8-pr{margin-left: 40%;margin-right: 40%;}
.horizontal-space-l9-pr{margin-left: 45%;margin-right: 45%;}.horizontal-space-l10-pr{margin-left: 50%;margin-right: 50%;}

.horizontal-space-l1-px{margin-left: 10px;margin-right: 10px;}.horizontal-space-l2-px{margin-left: 20px;margin-right: 20px;}
.horizontal-space-l3-px{margin-left: 30px;margin-right: 30px;}.horizontal-space-l4-px{margin-left: 40px;margin-right: 40px;}
.horizontal-space-l5-px{margin-left: 50px;margin-right: 50px;}.horizontal-space-l6-px{margin-left: 60px;margin-right: 60px;}
.horizontal-space-l7-px{margin-left: 70px;margin-right: 70px;}.horizontal-space-l8-px{margin-left: 80px;margin-right: 80px;}
.horizontal-space-l9-px{margin-left: 90px;margin-right: 90px;}.horizontal-space-l10-px{margin-left: 100px;margin-right: 100px;}

/*Left Spacing*/
.space-left{margin-left: 2%;}
.no-space-left{margin-left: 0;}
.space-left-l1-pr{margin-left: 5%;}.space-left-l2-pr{margin-left: 10%;}.space-left-l3-pr{margin-left: 15%;}
.space-left-l4-pr{margin-left: 20%;}.space-left-l5-pr{margin-left: 25%;}.space-left-l6-pr{margin-left: 30%;}
.space-left-l7-pr{margin-left: 35%;}.space-left-l8-pr{margin-left: 40%;}.space-left-l9-pr{margin-left: 45%;}
.space-left-l10-pr{margin-left: 50%;}

.space-left-l1-px{margin-left: 10px;}.space-left-l2-px{margin-left: 20px;}.space-left-l3-px{margin-left: 30px;}
.space-left-l4-px{margin-left: 40px;}.space-left-l5-px{margin-left: 50px;}.space-left-l6-px{margin-left: 60px;}
.space-left-l7-px{margin-left: 70px;}.space-left-l8-px{margin-left: 80px;}.space-left-l9-px{margin-left: 90px;}
.space-left-l10-px{margin-left: 100px;}

/*Right Spacing*/
.space-right{margin-right: 2%;}
.no-space-right{margin-right: 0;}
.space-right-l1-pr{margin-right: 5%;}.space-right-l2-pr{margin-right: 10%;}.space-right-l3-pr{margin-right: 15%;}
.space-right-l4-pr{margin-right: 20%;}.space-right-l5-pr{margin-right: 25%;}.space-right-l6-pr{margin-right: 30%;}
.space-right-l7-pr{margin-right: 35%;}.space-right-l8-pr{margin-right: 40%;}.space-right-l9-pr{margin-right: 45%;}
.space-right-l10-pr{margin-right: 50%;}

.space-right-l1-px{margin-right: 10px;}.space-right-l2-px{margin-right: 20px;}.space-right-l3-px{margin-right: 30px;}
.space-right-l4-px{margin-right: 40px;}.space-right-l5-px{margin-right: 50px;}.space-right-l6-px{margin-right: 60px;}
.space-right-l7-px{margin-right: 70px;}.space-right-l8-px{margin-right: 80px;}.space-right-l9-px{margin-right: 90px;}
.space-right-l10-px{margin-right: 100px;}

/*Horizontal Spacing In*/
.horizontal-space-in{padding-left: 2%;padding-right: 2%;}
.no-horizontal-space-in{padding-left: 0;padding-right: 0;}
.horizontal-space-in-l1-pr{padding-left: 5%;padding-right: 5%;}.horizontal-space-in-l2-pr{padding-left: 10%;padding-right: 10%;}
.horizontal-space-in-l3-pr{padding-left: 15%;padding-right: 15%;}.horizontal-space-in-l4-pr{padding-left: 20%;padding-right: 20%;}
.horizontal-space-in-l5-pr{padding-left: 25%;padding-right: 25%;}.horizontal-space-in-l6-pr{padding-left: 30%;padding-right: 30%;}
.horizontal-space-in-l7-pr{padding-left: 35%;padding-right: 35%;}.horizontal-space-in-l8-pr{padding-left: 40%;padding-right: 40%;}
.horizontal-space-in-l9-pr{padding-left: 45%;padding-right: 45%;}.horizontal-space-in-l10-pr{padding-left: 50%;padding-right: 50%;}

.horizontal-space-in-l1-px{padding-left: 10px;padding-right: 10px;}.horizontal-space-in-l2-px{padding-left: 20px;padding-right: 20px;}
.horizontal-space-in-l3-px{padding-left: 30px;padding-right: 30px;}.horizontal-space-in-l4-px{padding-left: 40px;padding-right: 40px;}
.horizontal-space-in-l5-px{padding-left: 50px;padding-right: 50px;}.horizontal-space-in-l6-px{padding-left: 60px;padding-right: 60px;}
.horizontal-space-in-l7-px{padding-left: 70px;padding-right: 70px;}.horizontal-space-in-l8-px{padding-left: 80px;padding-right: 80px;}
.horizontal-space-in-l9-px{padding-left: 90px;padding-right: 90px;}.horizontal-space-in-l10-px{padding-left: 100px;padding-right: 100px;}

/*Left Spacing In*/
.space-left-in{padding-left: 2%;}
.no-space-left-in{padding-left: 0;}
.space-left-in-l1-pr{padding-left: 5%;}.space-left-in-l2-pr{padding-left: 10%;}.space-left-in-l3-pr{padding-left: 15%;}
.space-left-in-l4-pr{padding-left: 20%;}.space-left-in-l5-pr{padding-left: 25%;}.space-left-in-l6-pr{padding-left: 30%;}
.space-left-in-l7-pr{padding-left: 35%;}.space-left-in-l8-pr{padding-left: 40%;}.space-left-in-l9-pr{padding-left: 45%;}
.space-left-in-l10-pr{padding-left: 50%;}

.space-left-in-l1-px{padding-left: 10px;}.space-left-in-l2-px{padding-left: 20px;}.space-left-in-l3-px{padding-left: 30px;}
.space-left-in-l4-px{padding-left: 40px;}.space-left-in-l5-px{padding-left: 50px;}.space-left-in-l6-px{padding-left: 60px;}
.space-left-in-l7-px{padding-left: 70px;}.space-left-in-l8-px{padding-left: 80px;}.space-left-in-l9-px{padding-left: 90px;}
.space-left-in-l10-px{padding-left: 100px;}

/*Right Spacing In*/
.space-right-in{padding-right: 2%;}
.no-space-right-in{padding-right: 0;}
.space-right-in-l1-pr{padding-right: 5%;}.space-right-in-l2-pr{padding-right: 10%;}
.space-right-in-l3-pr{padding-right: 15%;}.space-right-in-l4-pr{padding-right: 20%;}
.space-right-in-l5-pr{padding-right: 25%;}.space-right-in-l6-pr{padding-right: 30%;}
.space-right-in-l7-pr{padding-right: 35%;}.space-right-in-l8-pr{padding-right: 40%;}
.space-right-in-l9-pr{padding-right: 45%;}.space-right-in-l10-pr{padding-right: 50%;}

.space-right-in-l1-px{padding-right: 10px;}.space-right-in-l2-px{padding-right: 20px;}
.space-right-in-l3-px{padding-right: 30px;}.space-right-in-l4-px{padding-right: 40px;}
.space-right-in-l5-px{padding-right: 50px;}.space-right-in-l6-px{padding-right: 60px;}
.space-right-in-l7-px{padding-right: 70px;}.space-right-in-l8-px{padding-right: 80px;}
.space-right-in-l9-px{padding-right: 90px;}.space-right-in-l10-px{padding-right: 100px;}

/*Both rise Spacing*/
.space{margin: 2%;}
.no-space{margin: 0}
.auto-space{margin: auto;}
.space-l1-pr{margin: 5%;}.space-l2-pr{margin: 10%;}.space-l3-pr{margin: 15%;}.space-l4-pr{margin: 20%;}
.space-l5-pr{margin: 25%;}.space-l6-pr{margin: 30%;}.space-l7-pr{margin: 35%;}.space-l8-pr{margin: 40%;}
.space-l9-pr{margin: 45%;}.space-l10-pr{margin: 50%;}

.space-l1-px{margin: 10px;}.space-l2-px{margin: 20px;}.space-l3-px{margin: 30px;}.space-l4-px{margin: 40px;}
.space-l5-px{margin: 50px;}.space-l6-px{margin: 60px;}.space-l7-px{margin: 70px;}.space-l8-px{margin: 80px;}
.space-l9-px{margin: 90px;}.space-l10-px{margin: 100px;}

.space-in{padding: 2%;}
.no-space-in{padding: 0}
.auto-space-in{padding: auto;}
.space-in-l1-pr{padding: 5%;}.space-in-l2-pr{padding: 10%;}.space-in-l3-pr{padding: 15%;}.space-in-l4-pr{padding: 20%;}
.space-in-l5-pr{padding: 25%;}.space-in-l6-pr{padding: 30%;}.space-in-l7-pr{padding: 35%;}.space-in-l8-pr{padding: 40%;}
.space-in-l9-pr{padding: 45%;}.space-in-l10-pr{padding: 50%;}

.space-in-l1-px{padding: 10px;}.space-in-l2-px{padding: 20px;}.space-in-l3-px{padding: 30px;}.space-in-l4-px{padding: 40px;}
.space-in-l5-px{padding: 50px;}.space-in-l6-px{padding: 60px;}.space-in-l7-px{padding: 70px;}.space-in-l8-px{padding: 80px;}
.space-in-l9-px{padding: 90px;}.space-in-l10-px{padding: 100px;}

/*Separator*/
.line-separator{border: 1.5px groove; margin: 15px;}
.top-line-separator{border-top: 1.5px groove; margin-top: 15px;}
.bottom-line-separator{border-bottom: 1.5px groove; margin-bottom: 15px;}
.left-line-separator{border-left: 1.5px groove; margin-left: 15px;}
.right-line-separator{border-right: 1.5px groove; margin-right: 15px;}

/*------------------------*
*----------Texts----------*
*------------------------*/
/*Coloration*/
.clr-primary{background: #337AB7;color: white;}.clr-success{background: #5CB85C; color: white;}
.clr-info{background: #5BC0DE; color: white;}.clr-warning{background: #F0AD4E; color: white;}
.clr-danger{background: #D9534F; color: white;}.clr-dark{background: #555; color: white;}
.clr-whiteblack{background: white; color: black;}.clr-blackwhite{background: black; color: white;}
.clr-notis{background : #e6e6e6;}

.txt-clr-primary{color: #337AB7;}.txt-clr-success{color: #5CB85C;}.txt-clr-info{color: #5BC0DE;}
.txt-clr-warning{color: #F0AD4E;}.txt-clr-danger{color: #D9534F;}.txt-clr-dark{color: #555;}
.txt-clr-white{color: white;}.txt-clr-black{color: black;}.txt-clr-notis{color: #e6e6e6;}

/*-------------------------*
///// hf = Hover-Focus /////
*-------------------------*/

.clr-primary-hf:hover{color: white;background: #337AB7;}.clr-success-hf:hover{color: white;background: #5CB85C;}
.clr-info-hf:hover{color: white;background: #5BC0DE;}.clr-warning-hf:hover{color: white;background: #F0AD4E;}
.clr-danger-hf:hover{color: white;background: #D9534F;}.clr-dark-hf:hover{color: white;background: #555}
.clr-whiteblack-hf:hover{color: black;background: white;}.clr-blackwhite-hf:hover{color: white;background: black;}
.clr-notis-hf:hover{background: #e6e6e6;}


.clr-primary-hf:focus{color: white;background: #337AB7;}.clr-success-hf:focus{color: white;background: #5CB85C;}
.clr-info-hf:focus{color: white;background: #5BC0DE;}.clr-warning-hf:focus{color: white;background: #F0AD4E;}
.clr-danger-hf:focus{color: white;background: #D9534F;}.clr-dark-hf:focus{color: white;background: #555;}
.clr-whiteblack-hf:focus{color: black;background: white;}.clr-blackwhite-hf:focus{color: white;background: black;}
.clr-notis-hf:focus{background: #e6e6e6;}

/*Text decorations*/
.txt-italic{font-style: italic;}.txt-bold{font-weight: bold;}.txt-boldItalic{font-style: italic;font-weight: bold;}
.txt-underline{text-decoration: underline;}.txt-notis{opacity: 0.8; font-style: italic;}
.txt-important{font-weight: bold;font-size: 1.14em;}.no-decoration{text-decoration: none;font-style: normal; font-weight: normal;}
.txt-default{color: inherit; font-size: inherit; font: normal; font-style: normal; font-weight: normal; opacity: 1;}

/*------------------------*
*----------Titles---------*
*------------------------*/
/*Title Size*/
.title-maxi{font-size: 5em;}.title-large{font-size: 4em;}.title-medium{font-size: 3em;}
.title-small{font-size: 2em;}.title-mini{font-size: 1.5em;}

/*Title decorations*/
.title-border-bottom{border-bottom: 1.3px solid gray;}

.box-shadow{box-shadow: 0 0 10px 0px gray}
.box-shadow-bottom{box-shadow: 0px 3.5px 10px 0px gray;}

/*---------------*
*---Responsive---*
*--design:1199px--*
*---------------*/
@media all and (max-width: 1199px){
	.wrapper-min,.wrapper-medium,.wrapper-large{height: 400px;}
	.img-wrapper>img{height: 220%;margin-top: -360px}

	.txt-default{font-size: 1.05em;}.txt-important{font-size: 1.07em;}
	.title-maxi{font-size: 4.5em;}.title-large{font-size: 3.5em;}.title-medium{font-size: 3em;}
}

/*---------------*
*---Responsive---*
*--design:767px--*
*---------------*/
@media all and (max-width: 767px){
	.clearfix{margin : 0;}
		
	.wrapper-min,.wrapper-medium,.wrapper-large{height: 350px;}
	.img-wrapper>img{height: 175%;margin-top: -180px}

	.txt-default{font-size: 1em;}.txt-important{font-size: 1.2em;}
	.title-maxi{font-size: 3.5em;}.title-large{font-size: 3em;}.title-medium{font-size: 2.5em;}
}

/*---------------*
*---Responsive---*
*--design:420px--*
*---------------*/
@media all and (max-width: 450px){
	.img-wrapper>img,{height: 155%;margin-top: -120px; margin-left: -15%}
	.adapt-img-wrapper>img{height: 140%;margin-top: -120px; margin-left: -35%}
	.title-maxi{font-size: 3em;}.title-large{font-size: 2.5em;}.title-medium{font-size: 2.3em;}
}
